@charset "UTF-8";

@media screen and (min-width: 768px) {

    span#menutresbarras {

        display: none;

    }

    #escolha {

        display: block;

    }

    #escolha li {

        display: inline-block;

    }

}

* {

    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;

}

body {

    background-color: black;

}

header {

    background-color: darkgrey;
    padding: 1px 0px 10px 0px;
    margin-bottom: 10px;

}

header h1 {

    text-align: center;

}

#menutresbarras {

    display: block;
    background-color: rgb(119, 119, 119);
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

#menutresbarras:hover {

    background-color: whitesmoke;
    color: black;

}

menu {

    display: none;

}

menu ul {

    list-style-type: none;

}

header a {

    display: block;
    background-color: rgb(119, 119, 119);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin-top: 3px;

}

header a:hover {

    transition: 0.5s;
    background-color: darkgray;
    text-decoration: underline;

}

h1, h2 {

    padding: 10px;

}

main {

    background-color: white;
    border-radius: 10px;
    padding: 10px;


}

p {

    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    margin-bottom: 10px;

}
