@charset "UTF-8";

/*
  Versão Mobile First
*/

* {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

html, body {

  width: 100vw;
  height: 100vh;


}

body {

  background: black url("../imagens/back-phone.jpg") center center no-repeat;
  background-size: cover;
  color: white;
  padding-top: 5px;

}

main {

  background-color: rgba(255, 255, 255, 0.8);
  width: 90vw;
  padding-top: 5px;
  margin: auto;
  border-radius: 10px;

}

main > h1 {

  text-align: center;

}