@charset "UTF-8";

/*
   Todas as demais mídias
*/
/*
   Typical Device Breakpoints
   Pequenas telas: até 600px
   Celulares: de 600px até 768px
   Tablet: de 768px até 992px
   Desktop: de 992px até 1200px
   Grandes telas(como as de TV): acima de 1200px
*/

@media print {

    

}

/*

 Essa parte não é necessária já que o site é feito com a ideia do mobile first 

@media screen and (max-width: 600px) {

}

@media screen and (min-width: 600px) and (max-width: 768px) {
   
}
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
   
}

@media screen and (min-wudth: 992px) and (max-width: 1200px) {
   
}

@media screen and (min-width: 1200px) {
   
}