@charset "UTF-8";

* {

        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
 
}

h1 {

        padding: 5px 10px;

}

form {

        padding: 5px;

}

fieldset {

        max-width: 800px;
        margin: auto;

}

input {

        margin: 5px 0px;

}
