@charset "UTF-8";

/*
   Estilo para telas
*/

* {
 
    margin: 0px;
    padding: 0px;

}

html {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}

header {


    background-color: lightgreen;

}

header > h1 {

    text-align: center;

}

menu ul {

    list-style-type: none;
    background-color: grey;

}

menu li {

    display: inline-block;
    background-color: rgb( 70, 70, 70);
    color: white;
    padding: 5px;


}

article {

    min-width: 300px;
    max-width: 800px;
    margin: auto;

}