@charset "UTF-8";

@media screen and (min-width: 768px) {

    main {

        border-radius: 10px;

    }

}

* {

    padding: 0px;
    margin: 0px;

}

body {

    background-color: #1e90ff;
    color: white;  

}
.apreprincipal {

    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    
}
  
h1, h2 {

    margin: 0px 0px 10px 0px;
    padding: 10px 5px 5px 0px;

}
 
p {
    margin: 10px 0px;
    padding: 0px 3px 0px 3px;
}

h2 {

    font-size: 1.6em;

}

h1, h2, p, footer {

    text-align: center;

}

main {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 0px 3px 10px 3px;
    margin: auto;
    
}



ul {

    width: 300px;
    padding: 0px 0px 10px 0px;
    margin: auto;
    list-style-position: inside;
    
}

div {
    width: 95%;
    padding: 3px 3px 3px 5%;

}

img {
    display: block;
    width: 100%;
}

footer {
    background-color: #4F6780;
    padding: 5px 0px;
    margin: 126px 0px 0px 0px;
}